[flake8]
max-line-length = 120

exclude =
    venv,
    __pycache__,
    data,
    ml,
    scripts,
    .git,
    migrations,
    docs,
    eda,
    maquette,

ignore =
    E501,
    W293,
    W291,
    W292